.cartPage-body{
  width: 70%;
  height: 100%;
  margin-top: 30px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  opacity: 0.93;
  border-radius: 8px;
}
.el-checkbox__inner{
  width: 18px!important;
  height: 18px!important;
}
.el-checkbox__inner::after {
  height: 13px!important;
  left: 5px!important;
  top: -2px!important;
  width: 5px!important;
}